@model Game

<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Name: @Model.Name</div>
  <div class="card-body">
    <p class="card-text">Price: @Model.Price</p>
    <h5 class="card-title">Categories: @Model.Categories</h5>
    <a class="card-text" asp-controller="Game" asp-action="GetGames">Return</a>

  </div>
</div>